@import "variables.scss";
.drifter {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding-top: 100px;
  position: relative;

  &__content {
    border: 2px solid $active-color;
    width: 60%;
    margin-right: -30%;
    position: relative;
    margin-left: 10%;

    &:before {
      content: "";
      position: absolute;
      background: $additional-color;
      width: 100px;
      height: 20px;
      left: 90px;
      bottom: -10px;
    }

    &:after {
      content: "";
      position: absolute;
      background: url("../imgs/DownArrow.svg");
      background-repeat: no-repeat;
      display: block;
      background-size: contain;
      width: 70px;
      height: 100px;
      bottom: -100px;
      left: 100px;
    }

    &-text {
      color: $color;
      font-family: $font-family-light;
      font-size: $font-size-small;
      line-height: 30px;
      padding: 50px;
      width: 40%;
      margin-right: 50%;
    }
  }

  &__title {
    position: absolute;
    left: 45%;

    &-text {
      position: relative;
      color: $additional-color;
      font-family: $font-family-bold;
      font-size: $font-size-title;
      text-transform: uppercase;
      letter-spacing: 4px;

      &:after {
        content: "NAVY SALT & PEPPER";
        position: absolute;
        font-size: $font-size-small;
        font-family: $font-family-light;
        letter-spacing: 1px;
        display: block;
        left: 40px;
      }
    }
  }

  &__bg {
    width: 60%;
  }
}
