@import "mixin.scss";

@import "variables.scss";

.footer {
  display: flex;
  width: 100%;
  padding: 100px 0 50px;
  background: $color-bg;

  &__links-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 130px;
    margin-left: 50px;
    margin-right: 120px;
  }

  &__links {
    display: flex;
    list-style-type: none;
  }

  &__item {
    margin-right: 50px;
  }

  &__link {
    text-decoration: none;
    color: $secondary-color;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 1px;
    font-size: $font-size-small;
    font-family: $font-family-bold;

    &:hover {
      color: $primary-color;

      &:before {
        display: block;
      }
      &:after {
        display: block;
      }
    }

    &:before {
      content: "";
      background: $active-color;
      width: 20px;
      height: 1px;
      position: absolute;
      top: 50%;
      left: -25px;
      display: none;
    }

    &:after {
      content: "";
      background: $active-color;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: -10px;
      display: none;
    }
  }

  &__social-links-container {
    @include flex();
    margin-top: 50px;
  }

  &__text {
    color: $secondary-color;
    text-transform: uppercase;
    font-family: $font-family-light;
    font-size: $font-size-tiny;
    margin-left: 50px;
    margin-right: 80px;
  }

  &__social-links {
    display: flex;
    list-style-type: none;
  }

  &__social-item {
    margin-right: 50px;
  }

  &__social-link {
    text-decoration: none;
    color: $secondary-color;
    position: relative;
    letter-spacing: 1px;
    font-size: $font-size-tiny;
    font-family: $font-family-light;

    &:hover {
      color: $primary-color;
      font-family: $font-family-bold;

      &:before {
        display: block;
      }

      &:after {
        display: block;
      }
    }

    &:before {
      content: "";
      background: $active-color;
      width: 20px;
      height: 1px;
      position: absolute;
      top: 50%;
      left: -25px;
      display: none;
    }

    &:after {
      content: "";
      background: $active-color;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: -10px;
      display: none;
    }
  }

  &__contact-container {
    display: flex;
  }

  &__contact-address {
    letter-spacing: 1px;
    font-size: $font-size-tiny;
    padding-right: 70px;
    font-family: $font-family-light;
    padding-top: 15px;

    &-title {
      color: $primary-color;
    }

    &-text {
      color: $secondary-color;
    }
  }

  &__contact-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;

    &-title {
      color: $primary-color;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: $font-size-small;
      font-family: $font-family-bold;
    }

    &-subtitle {
      color: $secondary-color;
      letter-spacing: 1px;
      font-size: $font-size-tiny;
      font-family: $font-family-light;
      padding: 20px 0;
    }

    &-btn {
      @include flex();
    }
  }

  &__input {
    outline: none;
    border: none;
    width: 120px;
    height: 25px;
  }

  &__btn {
    @include flex();
    background: $primary-color;
    cursor: pointer;
    width: 40px;
    height: 25px;
    &:hover {
      opacity: 0.8;
    }
  }
}
