.header {
  display: flex;
  align-items: center;
  position: fixed;

  &__logo-container {
    width: 180px;
    height: 180px;
    background: #b8a47e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-left: 10px;
    margin-right: 70px;
  }

  &__logo {
    width: 130px;
  }

  &__nav {
    display: flex;
    list-style-type: none;
    margin-top: -50px;

    &-item {
      margin-right: 60px;
      font-family: "Montserrat-Medium";
    }
    &-link {
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      position: relative;
      letter-spacing: 1px;

      &:hover {
        color: #b8a47e;
        &:before {
          display: block;
        }
        &:after {
          display: block;
        }
      }

      &:before {
        content: "";
        background: #b8a47e;
        width: 20px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: -25px;
        display: none;
      }
      &:after {
        content: "";
        background: #b8a47e;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -10px;
        display: none;
      }
    }
  }
}
