.home {
  height: 600px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  &__bg {
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }

  &__slider {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    align-items: center;
    &-arrows {
      position: relative;
      padding: 30px;
      padding-bottom: 80px;
      &:after {
        content: "";
        background: #b8a47e;
        width: 1px;
        height: 30px;
        position: absolute;
        left: 50%;
        bottom: 30px;
      }
    }
    &-arrow-up,
    &-arrow-down {
      display: block;
      width: 20px;
      padding: 5px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
    &-dots {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-dot {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #878787;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 14px;
      font-family: "Montserrat-Medium";
      &:hover {
        width: 50px;
        height: 50px;
        color: #000;
        font-family: "Montserrat-Bold";
        box-shadow: 5px 26px 81px rgba(0, 15, 26, 0.21);
      }
    }
  }

  &__content {
    margin-left: 110px;
  }

  &__subtitle {
    color: #383838;
    font-family: "Montserrat-Light";
    // font-size: 20px;
  }
  &__title {
    color: #000;
    font-family: "Montserrat-Bold";
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 30px;
  }
  &__link {
    width: 80px;
    display: block;
    padding-left: 70px;
    margin-top: 50px;
    color: #b8a47e;
    font-family: "Montserrat-Medium";
    text-decoration: none;
    position: relative;
    &:hover {
      opacity: 0.5;
    }
    &:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 30px;
      background: #b8a47e;
      top: 50%;
      left: 20px;
    }
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 100%;
      position: absolute;
      background: url("../imgs/ArrowRight.svg");
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      right: -20px;
    }
  }
}
