@import "mixin.scss";

@import "variables.scss";

@include font-face("Montserrat-Light", "../fonts/Montserrat-Light");
@include font-face("Montserrat-Medium", "../fonts/Montserrat-Medium");
@include font-face("Montserrat-Bold", "../fonts/Montserrat-Bold");

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  border-radius: 0;
  text-align: inherit;
  outline: none;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
