@import "mixin.scss";

@import "variables.scss";

.tanner {
  width: 100%;
  padding-top: 100px;

  &__title {
    text-align: center;
    color: $primary-color;
    font-family: $font-family-bold;
    font-size: $font-size-title;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 15px;
  }

  &__subtitle {
    color: $secondary-color;
    background: $active-color;
    font-size: $font-size-small;
    font-family: $font-family-light;
    letter-spacing: 1px;
    display: block;
    width: 300px;
    position: relative;
    margin-left: calc(50% + 60px);

    &:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 80px;
      background: $active-color;
      top: 50%;
      left: -60px;
    }
  }

  &__primary-block {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;

    &-bg {
      width: 60%;
      position: relative;

      &:before {
        content: "01";
        position: absolute;
        color: $secondary-color;
        font-family: $font-family-bold;
        opacity: 0.5;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: $font-size-title;
        top: -20px;
        left: 0px;
      }

      &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 80px;
        background: $primary-color;
        top: 0;
        left: 45px;
      }
    }

    &-img {
      width: 100%;
    }

    &-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 40%;
      margin-right: 70px;
    }
  }

  &__block-title {
    color: $primary-color;
    font-size: $font-size-medium;
    font-family: $font-family-bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    &-line {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        height: 45px;
        width: 1px;
        background: $primary-color;
        top: -50px;
        left: 0;
      }
    }

    &-bg {
      position: relative;
      display: block;

      &:before {
        content: "";
        position: absolute;
        height: 80px;
        width: 1px;
        background: $primary-color;
        top: -80px;
        left: 10px;
      }

      &:after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background: $active-color;
        width: 300px;
        height: 100%;
        left: -20px;
        z-index: -1;
        top: 40%;
      }
    }
  }

  &__block-text {
    color: $secondary-color;
    font-size: $font-size-small;
    font-family: $font-family-light;
    letter-spacing: 1px;
    padding: 30px 0;
  }

  &__block-link {
    text-decoration: none;
    color: $primary-color;
    font-size: $font-size-tiny;
    font-family: $font-family-bold;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;

    &:hover {
      opacity: 0.5;
    }

    &:after {
      position: absolute;
      content: "";
      background: url("../imgs/SliderArrowNext.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 20px;
      display: block;
      top: -4px;
      left: 80px;
    }
  }

  &__secondary-block {
    @include flex();
    width: 100%;
    margin-top: -120px;

    &-content {
      width: 30%;
      margin-right: 70px;
    }

    &-bg {
      width: 30%;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        height: 80px;
        width: 1px;
        background: $primary-color;
        top: -75px;
        left: 30%;
      }

      &:after {
        content: "";
        position: absolute;
        background: url("../imgs/TannerLogoGrey.png");
        background-repeat: no-repeat;
        display: block;
        background-size: contain;
        width: 100px;
        height: 50px;
        top: -75px;
        left: 35%;
      }
    }

    &-img {
      width: 100%;
    }
  }

  &__additional-block {
    @include flex();
    width: 100%;
    padding: 50px 0 80px;

    &-content {
      width: 30%;
      margin-left: 70px;
    }

    &-bg {
      width: 30%;
      position: relative;

      &:before {
        content: "02";
        position: absolute;
        color: $secondary-color;
        font-family: $font-family-bold;
        opacity: 0.5;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: $font-size-title;
        top: -15px;
        right: -10px;
      }
    }

    &-img {
      width: 100%;
    }
  }
}
