$active-color: #b8a47e;
$primary-color: #000;
$secondary-color: #383838;
$additional-color: #fff;
$color: #a7a7a7;
$color-bg: #d5d5d5;
$font-family: "Montserrat-Medium";
$font-family-bold: "Montserrat-Bold";
$font-family-light: "Montserrat-Light";
$font-size-title: 36px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-tiny: 12px;
