@import "variables.scss";
.voyager {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  position: relative;
  &__bg {
    width: 60%;
  }
  &__content {
    border: 2px solid $active-color;
    width: 60%;
    margin-left: -30%;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      background: #fff;
      width: 100px;
      height: 20px;
      right: 90px;
      bottom: -10px;
    }
    &:after {
      content: "";
      position: absolute;
      background: url("../imgs/DownArrow.svg");
      background-repeat: no-repeat;
      display: block;
      background-size: contain;
      width: 70px;
      height: 100px;
      bottom: -100px;
      right: 100px;
    }

    &-text {
      color: #a7a7a7;
      font-family: "Montserrat-Light";
      font-size: 14px;
      line-height: 30px;
      padding: 50px;
      width: 40%;
      margin-left: 50%;
    }
  }
  &__title {
    position: absolute;
    right: 45%;
    &-text {
      position: relative;
      color: #fff;
      font-family: "Montserrat-Bold";
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 4px;
      &:after {
        content: "NAVY SALT & PEPPER";
        position: absolute;
        font-size: 14px;
        font-family: "Montserrat-Light";
        letter-spacing: 1px;
        display: block;
        right: -10px;
      }
    }
  }
}
